node_modules/
frontend/node_modules/
build/
windows/staging/
*.db
*.db-journal
frontend/dist/
dist/
.DS_Store
third_party/ortools/
third_party/ortools_win/
third_party/ortools_bind/bind.o
third_party/ortools_bind/bind_win.o

# AppImage extraction test artifacts
squashfs-root/
